In [6]:
from pathlib import Path
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()
base_path = Path.home() / Path(os.environ.get("DATA_PATH"))
print(base_path)

/home/aayush/rsys_data

In [7]:
df = pd.read_csv(
   base_path/ Path("MINDlarge_train/behaviors.tsv"), 
    sep="\t",
    names=["impressionId","userId","timestamp","click_history","impressions"])

print(f"The dataset originally consist of {len(df)} number of interactions.")


df.head()

The dataset originally consist of 2232748 number of interactions.

,impressionId,userId,timestamp,click_history,impressions
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1
3,4,U593596,11/12/2019 12:24:09 PM,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
4,5,U239687,11/14/2019 8:03:01 PM,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...

In [8]:
df['impressions'].dtype

dtype('O')

In [9]:
def process_impression(impression_list):
    list_of_strings = impression_list.split()
    click = [x.split('-')[0] for x in list_of_strings if x.split('-')[1] == '1']
    non_click = [x.split('-')[0] for x in list_of_strings]
    return click,non_click


df['click'], df['presented_slate'] = zip(*df['impressions'].map(process_impression))
df

,impressionId,userId,timestamp,click_history,impressions,click,presented_slate
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...,"[N94157, N78699, N71090, N31174]","[N78206, N26368, N7578, N58592, N19858, N58258..."
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,"[N25587, N36266]","[N47996, N82719, N117066, N8491, N123784, N214..."
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1,[N47925],"[N103852, N53474, N127836, N47925]"
3,4,U593596,11/12/2019 12:24:09 PM,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...,[N114935],"[N38902, N76434, N71593, N100073, N108736, N30..."
4,5,U239687,11/14/2019 8:03:01 PM,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...,[N86258],"[N76209, N48841, N67937, N62235, N6307, N34254..."
...,...,...,...,...,...,...,...
2232743,2232744,U316192,11/13/2019 6:50:02 PM,N122359 N37069 N95876 N28787 N73408 N11266 N61321,N113723-0 N123683-1 N5287-0 N76677-0 N53474-0,[N123683],"[N113723, N123683, N5287, N76677, N53474]"
2232744,2232745,U451238,11/12/2019 8:54:06 AM,N12575 N93816 N71643 N87236 N87236,N18861-0 N20990-0 N43085-0 N7937-1,[N7937],"[N18861, N20990, N43085, N7937]"
2232745,2232746,U151246,11/13/2019 12:42:51 PM,N27587 N49668,N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,"[N39887, N110709, N24001, N127572, N10285]","[N39887, N22811, N110709, N1923, N24001, N7667..."
2232746,2232747,U330725,11/12/2019 1:22:57 PM,N121944 N91510 N42280 N60061 N63032 N125223 N4...,N18947-0 N88808-1 N10012-0 N38902-0 N33078-0 N...,[N88808],"[N18947, N88808, N10012, N38902, N33078, N1003..."
2232747,2232748,U500938,11/13/2019 8:10:45 PM,N13311 N73573 N36246 N47118 N71728 N105480 N61...,N24701-0 N13161-0 N39403-0 N40310-0 N5287-0 N1...,[N126252],"[N24701, N13161, N39403, N40310, N5287, N10398..."

In [10]:
news = pd.read_csv(
    base_path/ Path("MINDsmall_train/news.tsv"), 
    sep="\t",
    names=["itemId","category","subcategory","title","abstract","url","title_entities","abstract_entities"])
print(f"The article data consist in total of {len(news)} number of articles.")
news

The article data consist in total of 51282 number of articles.

,itemId,category,subcategory,title,abstract,url,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
...,...,...,...,...,...,...,...,...
51277,N16909,weather,weathertopstories,"Adapting, Learning And Soul Searching: Reflect...",Woolsey Fire Anniversary: A community is forev...,https://assets.msn.com/labs/mind/BBWzQJK.html,"[{""Label"": ""Woolsey Fire"", ""Type"": ""N"", ""Wikid...","[{""Label"": ""Woolsey Fire"", ""Type"": ""N"", ""Wikid..."
51278,N47585,lifestyle,lifestylefamily,Family says 13-year-old Broadway star died fro...,NaN,https://assets.msn.com/labs/mind/BBWzQYV.html,"[{""Label"": ""Broadway theatre"", ""Type"": ""F"", ""W...",[]
51279,N7482,sports,more_sports,St. Dominic soccer player tries to kick cancer...,"Sometimes, what happens on the sidelines can b...",https://assets.msn.com/labs/mind/BBWzQnK.html,[],[]
51280,N34418,sports,soccer_epl,How the Sounders won MLS Cup,"Mark, Jeremiah and Casey were so excited they ...",https://assets.msn.com/labs/mind/BBWzQuK.html,"[{""Label"": ""MLS Cup"", ""Type"": ""U"", ""WikidataId...",[]
51281,N44276,autos,autossports,Best Sports Car Deals for October,NaN,https://assets.msn.com/labs/mind/BBy5rVe.html,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]

In [11]:
filtered_df = df[
    (df['click'].apply(lambda x: len(x) >= 5)) &
    (df['presented_slate'].apply(lambda x: 5 <= len(x) <= 10))
]

In [12]:
filtered_df = df[
    (df['click'].apply(lambda x: len(x) >= 5)) &
    (df['presented_slate'].apply(lambda x: 5 <= len(x) <= 10))
]
grouped_filtered_df = filtered_df.sort_values(by='timestamp').groupby('userId').agg({
    'impressions': lambda x: list(x),
    'timestamp': lambda x: list(x),
    'click_history': lambda x: list(x),
    'click': lambda x: list(x),
    'presented_slate': lambda x: list(x),   
}).reset_index()
grouped_filtered_df

,userId,impressions,timestamp,click_history,click,presented_slate
0,U101709,[N30899-0 N99223-0 N60135-0 N83412-1 N113126-1...,[11/12/2019 6:59:20 AM],[N48971 N128643 N16894 N71496 N58534 N79511 N6...,"[[N83412, N113126, N100073, N20990, N61065]]","[[N30899, N99223, N60135, N83412, N113126, N10..."
1,U103720,[N46415-0 N96729-1 N127155-1 N47925-0 N95525-0...,[11/13/2019 8:13:59 AM],[N41959 N15371 N79690 N6958 N94541 N91810 N592...,"[[N96729, N127155, N72609, N93856, N10802]]","[[N46415, N96729, N127155, N47925, N95525, N53..."
2,U104641,[N5287-0 N127572-1 N76677-0 N94594-1 N100261-1...,[11/13/2019 12:36:39 PM],[N454 N72571 N71068 N79746 N89398 N54393 N6306...,"[[N127572, N94594, N100261, N24701, N1923]]","[[N5287, N127572, N76677, N94594, N100261, N12..."
3,U122862,[N30899-1 N61065-1 N83412-1 N35619-0 N20990-0 ...,[11/12/2019 8:12:09 AM],[N84217 N120951 N120773 N102743 N3435 N62427 N...,"[[N30899, N61065, N83412, N43085, N7937]]","[[N30899, N61065, N83412, N35619, N20990, N430..."
4,U124848,[N100073-1 N18539-1 N20990-1 N38902-1 N7937-0 ...,[11/12/2019 9:03:00 AM],[N128643 N18389 N28568 N113476 N38742 N104200 ...,"[[N100073, N18539, N20990, N38902, N18861, N35...","[[N100073, N18539, N20990, N38902, N7937, N188..."
...,...,...,...,...,...,...
115,U7529,[N27097-1 N83412-1 N61065-1 N60135-0 N20990-1 ...,[11/12/2019 6:44:19 AM],[N38098 N48971 N16894 N18690 N110755 N75236 N9...,"[[N27097, N83412, N61065, N20990, N30899]]","[[N27097, N83412, N61065, N60135, N20990, N100..."
116,U83148,[N27097-0 N113126-1 N83412-1 N100073-1 N20990-...,[11/12/2019 6:46:58 AM],[N73122 N5454 N51724 N102743 N93512 N112665 N1...,"[[N113126, N83412, N100073, N30899, N60135]]","[[N27097, N113126, N83412, N100073, N20990, N4..."
117,U83661,[N94157-1 N26368-1 N31174-1 N18478-0 N40282-0 ...,[11/10/2019 2:48:55 PM],[N117830 N104498 N66184 N85594],"[[N94157, N26368, N31174, N37924, N78206]]","[[N94157, N26368, N31174, N18478, N40282, N127..."
118,U87645,[N27097-1 N87684-1 N30899-1 N61065-0 N60135-0 ...,[11/12/2019 7:32:57 AM],[N9740 N128643 N18389 N5054 N122025 N49668 N80...,"[[N27097, N87684, N30899, N100073, N20990]]","[[N27097, N87684, N30899, N61065, N60135, N100..."
119,U91885,[N100073-0 N61065-0 N27097-1 N30899-1 N43085-0...,[11/12/2019 8:28:17 AM],[N39345 N8006 N111006 N129463 N61804 N103817 N...,"[[N27097, N30899, N7937, N20990, N87684]]","[[N100073, N61065, N27097, N30899, N43085, N79..."

In [77]:
ls=grouped_filtered_df[grouped_filtered_df['userId'] == 'U10'][['presented_slate'][0]].tolist()
ls

[[['N70923', 'N36861', 'N74360', 'N98178', 'N116694', 'N32154', 'N37658']]]

In [13]:
filtered_df_3 = df[
    (df['click'].apply(lambda x: len(x) >= 3)) &
    (df['presented_slate'].apply(lambda x: 5 <= len(x) <= 10))
]

In [22]:
filtered_df_2 = df[
    (df['click'].apply(lambda x: len(x) != 1 or (len(x) == 0 and isinstance(x, list)))) &
    (df['presented_slate'].apply(lambda x: 5 <= len(x) <= 10))
].reset_index()

In [23]:
filtered_df_2

,index,impressionId,userId,timestamp,click_history,impressions,click,presented_slate
0,27,28,U552980,11/12/2019 9:07:14 AM,N116930 N45706 N112740 N101840 N78609 N108115 ...,N38902-0 N7937-0 N18861-0 N43085-0 N20990-1 N1...,"[N20990, N61065, N18539]","[N38902, N7937, N18861, N43085, N20990, N10007..."
1,34,35,U115754,11/12/2019 7:19:35 AM,N64496 N65259 N98596 N104760 N9375 N73039 N142...,N43085-0 N61065-0 N87684-1 N100073-0 N30899-0 ...,"[N87684, N20990]","[N43085, N61065, N87684, N100073, N30899, N270..."
2,124,125,U564802,11/12/2019 4:59:05 PM,N20986 N56056 N59850 N11079 N108147 N74426 N11...,N86358-1 N92498-1 N112969-0 N69915-0 N65742-0 ...,"[N86358, N92498, N100324]","[N86358, N92498, N112969, N69915, N65742, N963..."
3,231,232,U385752,11/12/2019 8:18:36 AM,N85484 N31043 N126052 N65119 N100063,N43085-0 N20990-1 N61065-0 N30899-0 N87684-1 N...,"[N20990, N87684]","[N43085, N20990, N61065, N30899, N87684, N1000..."
4,250,251,U587096,11/12/2019 11:49:27 AM,N27779 N47587 N93049 N15375 N54380 N54360 N117...,N18947-0 N7937-1 N33078-0 N110303-1 N62203-0,"[N7937, N110303]","[N18947, N7937, N33078, N110303, N62203]"
...,...,...,...,...,...,...,...,...
30484,2232228,2232229,U64178,11/12/2019 8:07:25 AM,N3960 N31043 N100663 N62401 N4169 N37469 N1164...,N43085-1 N100073-1 N55806-0 N61065-0 N27097-0 ...,"[N43085, N100073]","[N43085, N100073, N55806, N61065, N27097, N209..."
30485,2232325,2232326,U86128,11/9/2019 5:10:36 AM,N129342 N127330 N43418 N110158,N14848-0 N65783-1 N118589-0 N43186-0 N62595-1 ...,"[N65783, N62595]","[N14848, N65783, N118589, N43186, N62595, N322..."
30486,2232507,2232508,U460351,11/14/2019 8:49:56 AM,N51166 N59280,N25751-0 N105407-1 N29544-0 N76665-0 N29441-1,"[N105407, N29441]","[N25751, N105407, N29544, N76665, N29441]"
30487,2232532,2232533,U103996,11/12/2019 9:00:33 AM,N101868 N99279 N86690 N98847 N121168 N40015 N1...,N38902-1 N42187-1 N72485-0 N127357-0 N23744-0 ...,"[N38902, N42187]","[N38902, N42187, N72485, N127357, N23744, N568..."
30488,2232620,2232621,U452155,11/10/2019 11:54:13 AM,NaN,N78206-1 N18478-0 N94157-0 N27822-0 N31174-0 N...,"[N78206, N40282]","[N78206, N18478, N94157, N27822, N31174, N2636..."

In [20]:
filtered_df_2_1=filtered_df_2.explode('click', ignore_index=True)
filtered_df_2_1

,index,impressionId,userId,timestamp,click_history,impressions,click,presented_slate
0,27,28,U552980,11/12/2019 9:07:14 AM,N116930 N45706 N112740 N101840 N78609 N108115 ...,N38902-0 N7937-0 N18861-0 N43085-0 N20990-1 N1...,N20990,"[N38902, N7937, N18861, N43085, N20990, N10007..."
1,27,28,U552980,11/12/2019 9:07:14 AM,N116930 N45706 N112740 N101840 N78609 N108115 ...,N38902-0 N7937-0 N18861-0 N43085-0 N20990-1 N1...,N61065,"[N38902, N7937, N18861, N43085, N20990, N10007..."
2,27,28,U552980,11/12/2019 9:07:14 AM,N116930 N45706 N112740 N101840 N78609 N108115 ...,N38902-0 N7937-0 N18861-0 N43085-0 N20990-1 N1...,N18539,"[N38902, N7937, N18861, N43085, N20990, N10007..."
3,34,35,U115754,11/12/2019 7:19:35 AM,N64496 N65259 N98596 N104760 N9375 N73039 N142...,N43085-0 N61065-0 N87684-1 N100073-0 N30899-0 ...,N87684,"[N43085, N61065, N87684, N100073, N30899, N270..."
4,34,35,U115754,11/12/2019 7:19:35 AM,N64496 N65259 N98596 N104760 N9375 N73039 N142...,N43085-0 N61065-0 N87684-1 N100073-0 N30899-0 ...,N20990,"[N43085, N61065, N87684, N100073, N30899, N270..."
...,...,...,...,...,...,...,...,...
65273,2232507,2232508,U460351,11/14/2019 8:49:56 AM,N51166 N59280,N25751-0 N105407-1 N29544-0 N76665-0 N29441-1,N29441,"[N25751, N105407, N29544, N76665, N29441]"
65274,2232532,2232533,U103996,11/12/2019 9:00:33 AM,N101868 N99279 N86690 N98847 N121168 N40015 N1...,N38902-1 N42187-1 N72485-0 N127357-0 N23744-0 ...,N38902,"[N38902, N42187, N72485, N127357, N23744, N568..."
65275,2232532,2232533,U103996,11/12/2019 9:00:33 AM,N101868 N99279 N86690 N98847 N121168 N40015 N1...,N38902-1 N42187-1 N72485-0 N127357-0 N23744-0 ...,N42187,"[N38902, N42187, N72485, N127357, N23744, N568..."
65276,2232620,2232621,U452155,11/10/2019 11:54:13 AM,NaN,N78206-1 N18478-0 N94157-0 N27822-0 N31174-0 N...,N78206,"[N78206, N18478, N94157, N27822, N31174, N2636..."
65277,2232620,2232621,U452155,11/10/2019 11:54:13 AM,NaN,N78206-1 N18478-0 N94157-0 N27822-0 N31174-0 N...,N40282,"[N78206, N18478, N94157, N27822, N31174, N2636..."

In [37]:
grouped_filtered_df_2 = filtered_df_2_1.sort_values(by='timestamp').groupby('userId').agg({
    'impressions': lambda x: list(x),
    'timestamp': lambda x: list(x),
    'click_history': lambda x: list(x),
    'click': lambda x: list(x),
    'presented_slate': lambda x: list(x),   
}).reset_index()
grouped_filtered_df_2

,userId,impressions,timestamp,click_history,click,presented_slate
0,U100001,[N70822-0 N14338-0 N11682-0 N31879-0 N123077-0...,"[11/11/2019 2:06:52 PM, 11/11/2019 2:06:52 PM]",[N116367 N121227 N77370 N73122 N21475 N42209 N...,"[N98178, N47257]","[[N70822, N14338, N11682, N31879, N123077, N55..."
1,U100025,[N53474-1 N24701-1 N88472-0 N93856-0 N103852-0...,"[11/13/2019 11:08:02 AM, 11/13/2019 11:08:02 AM]",[N124872 N43746 N35362 N35052 N127780 N45706 N...,"[N24701, N53474]","[[N53474, N24701, N88472, N93856, N103852, N12..."
2,U100026,[N113723-1 N101552-0 N37178-0 N53474-1 N24701-...,"[11/13/2019 5:35:24 PM, 11/13/2019 5:35:24 PM,...","[N29647, N29647, N29647]","[N113723, N53474, N24701]","[[N113723, N101552, N37178, N53474, N24701, N7..."
3,U100050,[N76665-0 N25751-0 N29544-0 N48015-0 N105407-1...,"[11/14/2019 8:28:23 AM, 11/14/2019 8:28:23 AM]",[N43502 N78650 N18389 N89872 N119800 N102743 N...,"[N105407, N29441]","[[N76665, N25751, N29544, N48015, N105407, N10..."
4,U100062,[N99484-0 N27097-0 N115021-1 N116647-0 N20990-...,"[11/12/2019 7:50:41 AM, 11/12/2019 7:50:41 AM]",[N22262 N32153 N29801 N50914 N67397 N104725 N5...,"[N87684, N115021]","[[N99484, N27097, N115021, N116647, N20990, N8..."
...,...,...,...,...,...,...
28284,U99947,[N32154-0 N107637-0 N125945-1 N12613-0 N22796-...,"[11/11/2019 9:12:08 AM, 11/11/2019 9:12:08 AM,...",[N117682 N9375 N59981 N109183 N63676 N15471 N7...,"[N22796, N125945, N98178]","[[N32154, N107637, N125945, N12613, N22796, N9..."
28285,U99960,[N30899-1 N20990-0 N100073-0 N61065-0 N27097-0...,"[11/12/2019 8:58:53 AM, 11/12/2019 8:58:53 AM]","[N41679 N102361 N98051 N42718 N5326 N108115, N...","[N30899, N38902]","[[N30899, N20990, N100073, N61065, N27097, N43..."
28286,U99963,[N76677-0 N5287-0 N24701-1 N43982-1 N53474-0 N...,"[11/13/2019 2:04:21 PM, 11/13/2019 2:04:21 PM]",[N128643 N114369 N43746 N9740 N64496 N121133 N...,"[N24701, N43982]","[[N76677, N5287, N24701, N43982, N53474, N9459..."
28287,U99973,[N37924-0 N31174-1 N50858-0 N18478-1 N40282-0 ...,"[11/10/2019 12:27:49 PM, 11/10/2019 12:27:49 PM]",[N128643 N42703 N9375 N6696 N71643 N52964 N104...,"[N18478, N31174]","[[N37924, N31174, N50858, N18478, N40282, N710..."
28288,U99981,[N91381-0 N61065-0 N30899-1 N52079-0 N27097-1 ...,"[11/12/2019 5:22:20 AM, 11/12/2019 5:22:20 AM,...",[N113326 N9740 N128643 N82779 N121133 N18389 N...,"[N2750, N27097, N30899, N58641, N18405, N84430...","[[N91381, N61065, N30899, N52079, N27097, N275..."

In [35]:
max_length = grouped_filtered_df_2['timestamp'].apply(len).max()
mean_length = grouped_filtered_df_2['timestamp'].apply(len).mean()
min_length = grouped_filtered_df_2['timestamp'].apply(len).min()
mode_length = grouped_filtered_df_2['timestamp'].apply(len).mode().iloc[0]
median_length = grouped_filtered_df_2['timestamp'].apply(len).median()

# Print the results
print("Max length:", max_length)
print("Mean length:", mean_length)
print("Min length:", min_length)
print("Mode length:", mode_length)
print("Median length:", median_length)

Max length: 24
Mean length: 2.3075400332284635
Min length: 2
Mode length: 2
Median length: 2.0

In [41]:
grouped_filtered_df_2_t = filtered_df_2_1.sort_values(by='timestamp').groupby('timestamp').agg({
    'impressions': lambda x: list(x),
    'click_history': lambda x: list(x),
    'click': lambda x: list(x),
    'presented_slate': lambda x: list(x),   
}).reset_index()
grouped_filtered_df_2_t

,timestamp,impressions,click_history,click,presented_slate
0,11/10/2019 10:00:10 AM,[N64730-0 N18478-0 N31174-1 N94157-0 N26368-1 ...,[N66867 N93662 N113326 N48971 N58992 N100662 N...,"[N31174, N26368]","[[N64730, N18478, N31174, N94157, N26368, N782..."
1,11/10/2019 10:00:35 AM,[N94157-0 N18478-0 N26368-1 N31174-1 N78206-0 ...,[N107944 N37266 N77440 N765 N59319 N92655 N737...,"[N31174, N26368]","[[N94157, N18478, N26368, N31174, N78206, N647..."
2,11/10/2019 10:01:05 AM,[N18478-0 N2591-1 N64730-0 N78206-0 N27822-0 N...,[N111272 N70974 N88893 N5674 N83823 N114848 N7...,"[N40282, N2591]","[[N18478, N2591, N64730, N78206, N27822, N9415..."
3,11/10/2019 10:01:13 AM,[N64730-0 N94157-1 N2591-0 N18478-0 N78206-0 N...,[N108621 N109183 N71356 N44826 N108312 N82365 ...,"[N31174, N94157]","[[N64730, N94157, N2591, N18478, N78206, N4028..."
4,11/10/2019 10:01:19 AM,[N27822-0 N94157-0 N40282-0 N64730-0 N71090-0 ...,[N34730 N44955 N88765 N63723 N116312 N12959 N1...,"[N26368, N31174]","[[N27822, N94157, N40282, N64730, N71090, N311..."
...,...,...,...,...,...
28506,11/9/2019 9:57:40 PM,[N38737-0 N13322-0 N99362-0 N97946-0 N53271-0 ...,[N26421 N72187 N63472 N13582 N48215 N49079 N52...,"[N59654, N100547, N59654, N81936]","[[N38737, N13322, N99362, N97946, N53271, N819..."
28507,11/9/2019 9:58:25 AM,[N6293-0 N99362-1 N65783-0 N122706-0 N43186-0 ...,[N41484 N60061 N120574 N51544 N60165 N45706 N6...,"[N99362, N14848]","[[N6293, N99362, N65783, N122706, N43186, N148..."
28508,11/9/2019 9:59:02 AM,[N65783-1 N32209-0 N6293-0 N99362-0 N118589-1 ...,[N104200 N104609 N108284 N93328 N51940 N44660 ...,"[N65783, N118589, N14848]","[[N65783, N32209, N6293, N99362, N118589, N148..."
28509,11/9/2019 9:59:25 PM,[N97946-0 N59654-0 N27282-0 N100547-0 N81936-1...,[N104879 N102357 N9375 N85056 N45706 N51724 N6...,"[N45124, N81936]","[[N97946, N59654, N27282, N100547, N81936, N45..."
28510,11/9/2019 9:59:58 AM,[N32209-0 N118589-1 N65783-1 N14848-0 N99362-0...,[N104029 N92066 N29466 N114848 N26005 N71068 N...,"[N118589, N65783]","[[N32209, N118589, N65783, N14848, N99362, N62..."